# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# NuGet packages
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Others
*.DS_Store
*.env
.env.*
appsettings.*.json


**/Migrations/