<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore2.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="Shared.Infrastructure"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <!--Identity.API-${environment:ASPNETCORE_ENVIRONMENT}-->
    <target name="logging-api" type="LoggingAPI" host="Logging.API-${environment:ASPNETCORE_ENVIRONMENT}"/>  
	<!--fileName="${basedir}\logs\nm-${shortdate}.log"-->
    <target xsi:type="File" name="logfile" fileName="C:\log\nm-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="logfile" />-->
    <logger name="*" maxLevel="Info" writeTo="logfile"/>
	<logger name="*" minlevel="Error" writeTo="logging-api" />
  </rules>
</nlog>